.header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-weight: 600;
    background-color: white;

    padding:15px 30px;
    .appLogo{
        width:150px;
    }
    .menu{
        display: flex;
        margin:0 30px;
        .menuOption{
            margin:0 30px;
        }


    }

    .userCenter{
        display: flex;
        // justify-content: space-between;
        align-items:center ;

        .avatar{
            border-radius: 50%;
            width:30px;
            height: 30px;
            background-color: aqua;
            margin-right: 10px;
                
        }
        // .logOut{
        //     font-weight: bold;
        // }

    }

}