@import "../../styles/variable.scss";

.weekNav {
    display: flex;
    margin: 20px;
    justify-content: center;

    .navBtn {
        color: rgb(161, 158, 158);
        background-color: whitesmoke;
        border: rgb(240, 240, 240) 1px solid;
        font-size: 30px;
        margin: 0 25px;
    }

    .currentDate {
        padding: 10px 30px;
        font-size: 17px;
        color: black;
        font-weight: 700;
    }
}

.CardWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    font-size: 17px;
    width: 80%;



    .timeCard {
        display: flex;
        flex-direction: column;
        min-height: 150px;
        width: 280px;
        justify-content: center;
        align-items: flex-start;
        background-color: white;
        margin: 10px 0 10px 20px;
        padding: 10px;
        padding-right: 50px;
        border-left: 8px solid #29334F;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;

        .date {
            display: flex;
            font-weight: 700;
            margin-bottom: 5px;

            .weekday {
                margin-right: 5px;
            }

            .icon {
                margin-left: 5px;
            }
        }
        .time,.type{
            font-weight: 300;

        }


        .pay {
            font-weight: 500;
            margin-top: 10px;
            letter-spacing: 1px;
        }

    }



    .hospitalCard {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 150px;
        width: 490px;
        background-color: white;
        margin: 10px 20px 10px 5px;
        padding: 10px 20px;

        .hospitalText {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .hospitalName {
                text-transform: capitalize;
                font-weight: 600;
            }
            .address{
                font-weight: 300;
            }

        }

        .applyButton {
            color: white;
            background-color: $primaryBlueColor;
            padding: 5px 15px;
            margin-right: 20px;
            font-weight: 700;
        }

        .hospitalRate {
            display: flex;
            margin: 10px 0
        }




    }

}